
body {
  text-align: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
}

#hero {
  text-align: center;
  width: 626px;
  margin: 64px auto;
}

#hero img {
  margin-bottom: 32px;
  width: 350px;
}

#hero h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #3F3D56;
  margin-bottom: 16px;
}

#hero h1 span {
  font-weight: bold;
  color: #EE24FF;
}

#hero p {
  font-weight: 400;
  font-size: 15px;
  color: #828282;
  line-height: 22px;
}

#hero p strong{
  font-weight: bold;
  color: #3F3D56;
}

#footer div {
  width: 391px;
  height: 1px;
  margin: 0 auto 16px;
  border-top: 1px solid #ECEFF2;
}

#footer-img {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#footer a {
  text-decoration: none;
  color: #3F3D56;
  font-size: 15px;
  font-weight: 700;
}

#footer a + a {
  margin-left: 42px;
}